IO_LOC "clk" H11;
IO_LOC "rst_n" T5;
IO_LOC "uart_rx" T13;
IO_LOC "uart_tx" M11;
IO_LOC "FLASH_SPI_CS_N" M9;
IO_LOC "FLASH_SPI_CLK" L10;
IO_LOC "FLASH_SPI_SI" R10;
IO_LOC "FLASH_SPI_SO" P10;

IO_PORT "clk" IO_TYPE=LVCMOS33;
IO_PORT "rst_n" IO_TYPE=LVCMOS33;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
IO_PORT "FLASH_SPI_CS_N" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "FLASH_SPI_SI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_PORT "FLASH_SPI_SO" IO_TYPE=LVCMOS33 PULL_MODE=UP;
